div.requiredInput {
    display: inline-block;
}

div.marginAround {
	margin: 30px;
}

div.marginVertical {
	margin-top: 30px;
	margin-bottom: 30px;
}
.heading_2{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 2rem; 
    font-weight : 300; 
    line-height : 2.625rem;
    color: #000000;
}
.heading_3{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 1.2rem; 
    font-weight : 500; 
    line-height : 2rem;
    color: #000000; 
}
.heading_4{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 1.2rem; 
    font-weight : 390; 
    line-height : 2.625rem;
    color: #000000; 
}
.heading_5{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 1rem; 
    font-weight : 500; 
    line-height : 2rem;
    color: #000000; 
}
.regular-text{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 1.1rem; 
    font-weight : 300; 
    line-height : 1.5rem;
    color: #000000; 
}
.lato-font {
    font-family: Lato;
}
th, td {
    padding: 7px;
}
.padding_10{
    padding: 10px;
}
.padding_30{
    padding: 30px;
}
.line-height_1{
    line-height: 1em;
}
.line-height_1_5{
    line-height: 1.5em;
}
.margin-half{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    margin-left: 0em;
}
.margin_1{
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    margin-left: 0em;
}
.height_100{
    height: 100%;
}
.width_100{
    width: 100%;
}
.padding-right_30{
    padding-right: 30px;
}
.margin-right_quarter-rem{
    margin-right: 0.25rem;
}
.padding-left_30{
    padding-left: 30px;
}
.padding-top_1{
    padding-top: 1em;
}
.padding-bottom_1{
    padding-bottom: 1em;
}
.row-flex {
    display: flex; 
}
.col-flex{
    flex: 1;
}
.border-top_grey{
    border-top: 1px solid rgb(227, 227, 227);
}
.border-bottom_grey{
    border-bottom: 1px solid rgb(227, 227, 227);
}
.nct-input-label{
    font-size: 1.13rem;
    font-weight: 400;
    font-family: "Raleway",arial,sans-serif;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: .5rem;
}
.nct-page-text{
    font-family: 'Lato', arial, sans-serif;
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
}
.nct-header-text {
    color: #00886a;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 1.2;
}
.nct-link-text{
    font-family: 'Lato', arial, sans-serif;
    font-weight: 400;
    color: #3AA43B;
    background-color: transparent;
}
.nct-primary-header-text{
    font-family: 'Raleway', arial, sans-serif;
    font-size: 1.563rem;
    font-weight: 300;
    line-height: 1.3;
    color: #00876a;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mt-5{
    margin-top: 3rem;
}
.padding-top_quarter-rem{
    padding-top: 0.5rem;
}
.padding-bottom_quarter-rem{
    padding-bottom: 0.5rem;
}
.header-text-margin{
    margin: 1.9em 0em 0.33em 0em;
}
.margin-bottom_quarter-rem{
    margin-block-end: 0.25rem;
}
.margin-bottom_half-rem{
    margin-bottom: 0.5rem;
}
display-row {
    display: table-row;
}