<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/branch_volunteers_banner4_png2.png</loginLogo>
        <pageHeader>NCT_Documents/Customer_Community_logo.html</pageHeader>
        <primaryColor>#229C22</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B3D7CF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#F1F194</secondaryColor>
        <tertiaryColor>#838383</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#008D00</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Company Community License With Capacity PSA/Future Reference</description>
    <emailSenderAddress>swathi.kota@csscorp.com</emailSenderAddress>
    <emailSenderName>NCT Company Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Capacity_PSA</permissionSet>
        <profile>Admin</profile>
        <profile>Capacity PSA%2FFuture Reference1</profile>
    </networkMemberGroups>
    <picassoSite>NCT_Company_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>NCT_Company_Community</site>
    <status>UnderConstruction</status>
    <tabs>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>AccountBrand</standardTab>
    </tabs>
    <urlPathPrefix>test</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
