<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/UntitledLightining_png.png</loginLogo>
        <pageHeader>Communities_Shared_Document_Folder/Nct_Logo_snip1.png</pageHeader>
        <primaryColor>#83B93A</primaryColor>
        <primaryComplementColor>#222222</primaryComplementColor>
        <quaternaryColor>#E6FFF7</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#D0EBA6</secondaryColor>
        <tertiaryColor>#FFFFFF</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#E6FFF7</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <caseCommentEmailTemplate>NCT_Templates/Request_to_be_Volunteer</caseCommentEmailTemplate>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Membership Co-ordinator Profile with Customer Parent Community</description>
    <emailSenderAddress>Sreelatha.kenchappa@csscorp.com</emailSenderAddress>
    <emailSenderName>Membership Co-ordinator Customer  Community</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <maxFileSizeKb>25600</maxFileSizeKb>
    <navigationLinkSet>
        <navigationMenuItem>
            <defaultListViewId>All</defaultListViewId>
            <label>Event Booking</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Event_Booking__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Course Booking</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Booking__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Case Form</label>
            <position>3</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/parent-case-form</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Case details</label>
            <position>4</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/case-details</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Case Related List</label>
            <position>5</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/case-details</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>All_List</defaultListViewId>
            <label>Case</label>
            <position>6</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Case</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Membership coordinator</profile>
    </networkMemberGroups>
    <picassoSite>NCT_Parent_Community_C</picassoSite>
    <selfRegProfile>membership coordinator</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>NCT_Parent_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Event_Booking__c</customTab>
        <customTab>Booking__c</customTab>
        <customTab>Managing_Group__c</customTab>
        <customTab>Course__c</customTab>
        <customTab>Events__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Case</standardTab>
    </tabs>
    <urlPathPrefix>Parent1</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
