<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/Volunteers_logo_for_communitycust_png1.png</loginLogo>
        <pageHeader>Communities_Shared_Document_Folder/Partner_Community_Event_Helper.png</pageHeader>
        <primaryColor>#83B93A</primaryColor>
        <primaryComplementColor>#222222</primaryComplementColor>
        <quaternaryColor>#E6FFF7</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#D0EBA6</secondaryColor>
        <tertiaryColor>#DCDCDC</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#E6FFF7</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Practitioner Community Partner Community license</description>
    <emailSenderAddress>swathi.kota@csscorp.com</emailSenderAddress>
    <emailSenderName>NCT Partner Community Event Helper</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <defaultListViewId>All</defaultListViewId>
            <label>Course</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Course__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>All</defaultListViewId>
            <label>Event</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Events__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>MyCases</defaultListViewId>
            <label>Cases</label>
            <position>3</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Case</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Volunteer Event Helper</profile>
    </networkMemberGroups>
    <picassoSite>NCT_PartnerCommunity_C</picassoSite>
    <selfRegProfile>volunteer event helper</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>NCT_PartnerCommunity</site>
    <status>Live</status>
    <tabs>
        <customTab>Event_Booking__c</customTab>
        <customTab>Events__c</customTab>
        <customTab>Course__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
    </tabs>
    <urlPathPrefix>PractitionerCommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
