<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/Untitled_png.png</loginLogo>
        <pageHeader>Communities_Shared_Document_Folder/Untitled_png.png</pageHeader>
        <primaryColor>#83B93A</primaryColor>
        <primaryComplementColor>#222222</primaryComplementColor>
        <quaternaryColor>#E6FFF7</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#D0EBA6</secondaryColor>
        <tertiaryColor>#DCDCDC</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#E6FFF7</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Head of Volunteer Community Partner Community license</description>
    <emailSenderAddress>swathi.kota@csscorp.com</emailSenderAddress>
    <emailSenderName>NCT Partner Community Event Helper</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <defaultListViewId>MyCases</defaultListViewId>
            <label>Cases</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Case</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>AllAccounts</defaultListViewId>
            <label>Account</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Account</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>AllContacts</defaultListViewId>
            <label>Contacts</label>
            <position>3</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Contact</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Campaign</label>
            <position>4</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Campaign</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Head of Volunteering</profile>
        <profile>Volunteer PC</profile>
        <profile>Sling Cordinator PC</profile>
        <profile>Branch Coordinator</profile>
        <profile>Branch Volunteer PC</profile>
    </networkMemberGroups>
    <picassoSite>NCT_Volunteer_Community_Partner_C</picassoSite>
    <selfRegProfile>head of volunteering</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>NCT_Volunteer_Community_Partner</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Campaign</standardTab>
    </tabs>
    <urlPathPrefix>VolunteerCommunity1</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
