body {
   font-family: 'Raleway', arial, sans-serif;
}

.logo {
   width: 12.5rem;
}

.line {
   border-bottom: 1px solid rgba(1, 1, 1, .7);
}

.footer_line {
   height: .4em;
   background: #34A434;
}

.success_text_color {
   color: #34A434
}