body {
   font-family: 'Raleway', arial, sans-serif;
}

.logo {
   width: 12.5rem;
}

.line {
   border-bottom: 1px solid rgba(1, 1, 1, .7);
}

.footer_line {
   height: .4em;
   background: #EB0E19;
}

.failure_text {
   color: #EB0E19
}