.Row
{
    display: flex;
    flex-direction:row;
}
.Heading3{
    font-family : 'Raleway', arial, sans-serif;
    font-size : 1.563rem; 
    font-weight : 500;
    line-height : 1.6;
    color: #00876a; 
}
.LatoFont {
    font-family: Lato;
}
table, th, td {
    border: 2px solid #00886A;
}
th, td {
    padding: 7px;
}
.Padding10{
    padding: 10px;
}
